.landing-header {
  padding: 100px 0;
}
.list-box {
  height: 200px;
  background-color: #eeeedd;
}
.des {
  text-align: center;
}
.txtcolor {
  color: blue;
}
.fa {
  font-size: 36px;
  color: black;
  margin-right: 0;
}

.fas {
  color: gold;
}
